*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    background-color: azure;
}
.record{
    width: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
h2{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.container{
    display: flex;
    flex:2;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
}
.square{
    background-color: antiquewhite;
    border: 1px black solid;
    margin: 5px;
    width: 10vh;
    height: 10vh;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

img{
    width: inherit;
    height: inherit;
    cursor: pointer;
}

.feedback p{
    font-size: 3rem;
    font-weight: bolder;
 }
.timer{
    background-color: black;
    width: min-content;
    height: min-content;
    padding: 2px;
    border-radius: 10px;
    color: rgb(13, 235, 24);
    font-size: xx-large;
}
.feedback{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
ol li{
    font-size: 2rem;
}

.hidden{
    display: none;
}
.login{    
    background-color: #fa6611ee;
    width: 80%;
    
    position: absolute;
    align-self: center; 
}
.login__container{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

.login__container--hidden{
    display: hidden;
}








.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  body{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: azure;
  }
  
  .game+.container{
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 1px solid black;
      width: min-content;
      padding: 20px;
      margin: auto;
  }
  
  input{
      border-radius: 20px;
      width: 80%;
      height: 3em;
      margin: 10px;
      text-align: center;
      font-size: 2em;
  }
  .clase{
      display: flex;
      align-items: center;
  }
  
  .clase p{
      margin-inline: 10px;
      font-size: 2em;
  }
  button{
      border-radius: 10px;
      background-color: rgb(94, 148, 13);
      color: white;
      font-size: 2em;
      margin: 10px;
      padding: 10px;
  }
  h1{
      margin: 10px;
      font-size: 4rem;
      color: white;
      text-align: center;
  }

  .main{
    display: flex;
    width: inherit;
  }
  .hidden{
    display: none;
}


@media (max-width: 700px) {
    .square{
        width: 30px;
        height: 30px;
    }
}